<!ODCTYPE html>
<html lang="en">
<head>
<title> Graphy </title>
<link rel='stylesheet' href='./static/components/bootstrap/dist/css/bootstrap.min.css' type='text/css'>
<link rel='stylesheet' href='./static/components/bootstrap/dist/css/bootstrap-theme.min.css' type='text/css'>
<link rel='stylesheet' href='./static/css/app.css' type='text/css'>
</head>
<body>
    <h1>Graphy</h1>
    <div id='app'></div>

    <script src='./static/components/jquery/jquery.min.js'></script>
    <script src='./static/components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='./static/bundled.js'></script>
</body>
</html>
